<div class="recipe-card-show">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1><%= @recipe.title %></h1>
        </br>
        <% if @recipe.image_url? %>
            <%= image_tag @recipe.image_url, class:"recipe-image" %><br>
            <% else %>
            <%= image_tag @recipe.image.url, class:"recipe-image" %><br>
        <% end %>

        <%= @recipe.description %></br></br>
        Via:<%= link_to @recipe.url, @recipe.url.to_s %>
    </div>
</div>
<br>
    <div class="row">
        <div class="col-md-4">
            Ingredients:
            <ul>
                <% @recipe.ingredients.each do |ingredient| %>
                <li><%= ingredient.name %>
                </li>
                <% end %>
            </ul>
        </div>
        <div class="col-md-8">
            Directions:
            <ol>
                <% @recipe.directions.each do |direction| %>
                <li><%= direction.step %>
                </li>
                <% end %>
            </ol>
        </div>
    </div>
</br>
<div class="row">
    <div class="col-md-12">
        <%= link_to "Back", my_recipes_path, class:"btn btn-info" %>
        <% if @recipe.user_id == current_user.id %>
        <%= link_to "Edit", edit_recipe_path, class:"btn btn-info" %>
        <%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-info" %>
        <% end %>
    </div>
</div>
</div>
